<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <form action="/user/login" method="post">
        <input type="email" name="Email" id="" placeholder="Email">
        <input type="password" name="Password" id="" placeholder="Password">
        <button type="submit">submit</button>
    </form>
</body>

</html>