<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>

<body>
    <form action="/user/signup" method="post">
        <input type="text" name="FName" id="" placeholder="First Name">
        <input type="text" name="LName" id="" placeholder="Last Name">
        <input type="text" name="UserName" id="" placeholder="Username">
        <input type="email" name="Email" id="" placeholder="Email">
        <input type="password" name="Password" id="" placeholder="Password">
        <button type="submit">submit</button>
    </form>
</body>

</html>